<html lang="es" ng-app="haip">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="mainController">
	<button class="btn btn-primary btn-lg" ng-click="callHaip()" ng-show="!isCall"> Call Haip</button>
	<button class="btn btn-primary btn-lg" ng-click="callHaip4()" ng-show="!isCall4"> Call Haip Paso 4</button>
	<form ng-submit="callHaip5()" ng-show="!isCall5">
		Ingrese largo:
		<input type="text" ng-model="text" name="text" />
		<input type="submit" id="submit" value="Enviar" />
	</form>
	<form ng-submit="callHaip6()" ng-show="!isCall6">
		Valor a permutar:
		<input type="text" ng-model="permutar" name="permutar" />
		<input type="submit" id="submit" value="Enviar" />
		<span ng-bind="responsePermutacion"></span>
	</form>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://code.angularjs.org/1.6.2/angular.js"></script>
	<script src="./main.js"></script>
</body>
</html>